*,
:after,
:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
    background-color: rgb(66, 66, 66);
    color: white;
    max-width: 1300px;
    margin: 0 auto;
}

.yellow {
    color: yellow;
}